html {
    box-sizing: border-box;
    font-family: 'Andika', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

*, 
*::after, 
*::before {
    box-sizing: inherit;
}

body {
    background-image: url(/img/basics-bg.jpg);
    background-color: rgb(11, 161, 18);
    background-size: 100%;
    background-repeat: no-repeat;
}

h1 {
    font-weight: 700;
    font-style: normal;
    font-size: 350%;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 20px 0;
    text-shadow: 5px 8px 30px rgb(4, 37, 0);
}

h2 {
    background-color:rgb(75, 52, 23);
    font-weight: 700;
    font-style: normal;
    font-size: 235%;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 3%;
    width: 80%;
    margin-left: 10%;
}

.plant-images {
    display: block;
    margin: 0 auto;
    width: 40%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
}

section li {
    font-size: 150%;
    line-height: 1.6;
    color: rgb(255, 255, 255);
    display: flex;
    margin: 1%;
    justify-content: center;
}

section ul {
    background-color: rgb(199, 172, 122);
    padding: 2%;
    border-radius: 10px;
    list-style: none;
    margin: 2%;
}

section{
    display: grid;
    justify-content: left;
}

p a:link, p a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

p a:visited, p a:hover {
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-decoration: underline dotted;
}

nav {
    background-color: rgb(126, 93, 67);
    width: 100%;
}
nav ul {
    padding: 2%;
    margin: 1%;
    line-height: 200%;
    text-align: center;
}

nav li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 125%;
    list-style: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline;
    margin: 0 25px;
}

nav a:link, nav a:visited {
    color: rgb(2, 58, 9);
    text-decoration: none;
}

nav a:visited, nav a:hover {
    color: rgb(2, 197, 2);
    cursor: pointer;
}

nav a:hover {
    text-decoration:dotted underline;
}

nav a:active, nav a:focus {
    color: rgb(0, 255, 136);
    cursor: pointer;
    text-decoration: underline;
}
