html {
    box-sizing: border-box;
    font-family: 'Andika', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

*, 
*::after, 
*::before {
    box-sizing: inherit;
}

/*body
    background-image: url(../img/long-img.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 1% 95%;
*/

.header-img-container {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    background-color: rgb(199, 172, 122);
}

div.header-img-container {
    padding: 2% 0;
    margin: 0;
}   

.header-img {
    width: 32%;
    height: auto;
    display: flex;
}

h1 {
    font-weight: 700;
    font-style: normal;
    font-size: 250%;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 0;
}

.website-intro {
    width: 100%;
    margin: 0 auto 20px;
    padding: 2%;
    font-size: 120%;
    font-weight: 500;
    line-height: 1.6;
    color: rgb(27, 19, 12);
    background-color: rgb(199, 172, 122);
}

.top-of-page {
    text-align: center;
    margin: 20px 0;
    font-size: 110%;
    color: white;
}

p a:link, p a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

p a:visited, p a:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: underline dotted;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: rgb(199, 172, 122);
    color: rgb(34, 34, 34);
    font-size: 90%;
}


#top {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 900%;
    text-align: center;
    transition: all 0.3s ease-in-out;
    color: rgb(255, 255, 255);
    margin: 0;
    animation: pulse 2s ease-in-out;
}

.emoji {
    font-size: 80%;
}


h2 {
    font-weight: 400;
    font-style: normal;
    font-size: 150%;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 0 0 40px 0;
}

.float-img {
    border-radius: 50%;
    box-shadow: 4px 4px 5px #ccc;
    float: center;
    max-width: 53%;
    margin: 0 25% 2% 25%;
    shape-outside: circle(80%);
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(11, 161, 18);
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

nav {
    background-color: rgb(129, 92, 62);
    width: 100%;
}
nav ul {
    padding: 2%;
    margin: 2%;
    line-height: 200%;
    display: flex;
    justify-content: space-between;
}

nav li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 180%;
    list-style: none;
    letter-spacing: 1px;
    text-transform: uppercase;
}

nav a:link, nav a:visited {
    color: rgb(2, 58, 9);
    text-decoration: none;
}

nav a:visited, nav a:hover {
    color: rgb(2, 197, 2);
    cursor: pointer;
}

nav a:hover {
    text-decoration:dotted underline;
}

nav a:active, nav a:focus {
    color: rgb(0, 255, 136);
    cursor: pointer;
    text-decoration: underline;
    
}