html {
    box-sizing: border-box;
    font-family: 'Andika', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

*, 
*::after, 
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    color: rgb(229, 255, 229);
    background-color: rgb(4, 112, 19);
    line-height: 1.6;
    font-size: 120%;
}

h1, h2, h3  {
    font-family: 'Andika', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-weight: bold;
    font-size: 155%;
    margin: 2%;
    background-color: rgb(97, 69, 47);
}

h1 {
    text-align: center;
    margin-top: 6%;
    margin-bottom: 1%;
    font-size: 280%;
}

footer {
    text-align: center;
    font-size: 88%;
    background-color: rgb(167, 119, 81);
    color: rgb(7, 53, 7);
    padding: 1% 0;
    margin-top: 20px;
}

.top-of-page a:link, .top-of-page a:visited, .top-of-page a:hover, .top-of-page a:active, .top-of-page a:focus {
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(174, 255, 198);
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
}

.links-resources a:link, .online-communities a:link {
    font-weight: 500;
}

.links-resources a:link, .online-communities a:link, .links-resources a:visited, .online-communities a:visited {
    color: rgb(0, 243, 0);
    text-decoration: underline;
}

.links-resources a:visited, .online-communities a:visited, .links-resources a:hover, .online-communities a:hover {
    color: rgb(113, 243, 113);
    cursor: pointer;
    text-decoration: none;
}

.links-resources a:active, .online-communities a:active, .links-resources a:focus, .online-communities a:focus {
    color: rgb(0, 255, 136);
    cursor: pointer;
}


nav {
    background-color: rgb(167, 119, 81);
    width: 100%;
    display: flex;
    font-weight: bold;
}

nav ul {
    padding: 2%;
    margin: 2%;
    line-height: 200%;
}

nav li {
    font-size: 1.2rem;
    list-style: none;
    letter-spacing: 1px;
    text-transform: uppercase;
}

nav a:link, nav a:visited {
    color: rgb(2, 58, 9);
    text-decoration: none;
}

nav a:visited, nav a:hover {
    color: rgb(7, 53, 7);
    cursor: pointer;
}

nav a:hover {
    text-decoration:dotted underline;
}

nav a:active, nav a:focus {
    color: rgb(0, 255, 136);
    cursor: pointer;
    text-decoration: underline;
}
